@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

center{
	padding : 0;
	margin-top : 10%;
	margin-left : 35%;
	box-sizing : border-box;
	width : 350px;
	height : 250px;
	background-color : #D6536D;
	border-radius : 10px 10px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

h1, h2{
	color : whitesmoke;
}

button{
	width : 100px;
	height : 30px;
	border-radius : 5px;
	border : none;
	font-weight : bold;
	cursor : pointer;
	background-color: ghostwhite;
}

input[type = "text"]{
	width : 300px;
	height : 30px;
	border : none;
	padding : 5px 5px;
	border-radius : 10px;
}

@media screen and (min-width : 320px) and (max-width : 667px){
	center{
		margin-left : 10%;
		margin-top : 30%;
	}
}